/* Display Chapters on time bar */
.sliderMarker {
    position: absolute !important;
    width: 2px !important;
    height: 12px !important;
    transform: translate3d(0, 25%, 0) !important;
}

.sliderMarker.unwatched {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.sliderMarker.watched {
    background-color: red !important;
    transition: background-color 0.3s ease !important;
    z-index: 10 !important;
}

.sliderMarker.watched:hover {
    background-color: #00a4dc !important; 
    transform: scale(2.05) !important;
    z-index: 11 !important; 
}

/* Remove first and last chapters */
.sliderMarker:first-of-type.unwatched {
    background-color: transparent !important; /* Example color for the first unwatched */
}

.sliderMarker:last-of-type.unwatched {
    background-color: transparent !important; /* Example color for the last unwatched */
}

.sliderMarker:first-of-type.watched {
    background-color: transparent !important; /* Example color for the first watched */
}

.sliderMarker:last-of-type.watched {
    background-color: transparent !important; /* Example color for the last watched */
}