/* Display Chapters on time bar */
.sliderMarker {
    position: absolute !important;
    width: 2px !important;
    height: 12px !important;
    transform: translate3d(0, 25%, 0) !important;
}

.sliderMarker.unwatched {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.sliderMarker.watched {
    background-color: red !important; /* Initially invisible */
    transition: background-color 0.3s ease !important;
    z-index: 10 !important; /* Higher z-index to be on top */
}

.sliderMarker.watched:hover {
    background-color: #00a4dc !important; /* Visible on hover */
    transform: scale(2.05) !important;
    z-index: 11 !important; /* Ensure it stays on top when hovered */
}