/* Reset size of Jellyfin logo */
.layout-desktop .pageTitleWithLogo {
    height: 30px !important;
    width: 100px !important;
    margin: 0 1em 0 .5em !important;
}
[dir="ltr"] .pageTitle {
    margin: 0 1em 0 .5em !important;
}

/* Un-static left drawer */
.layout-desktop .mainDrawer:not(.dashboardDocument) {
    left: -320px !important;
    z-index: 1099 !important;
    border-top-right-radius : var(--rounded-cards) !important;
    border-bottom-right-radius : var(--rounded-cards) !important;
    background: var(--secondary-background-color) !important;
    backdrop-filter: none !important;
}
.layout-desktop:has(.backgroundContainer.withBackdrop) .mainDrawer:not(.dashboardDocument) {
    width: 275px !important;
    background-color: var(--primary-background-transparent) !important;
    backdrop-filter: blur(var(--blur)) !important;
}
@supports not selector(:has(*)) {
    .layout-desktop .backgroundContainer.withBackdrop + div .mainDrawer {
        background: var(--secondary-background-color) !important;
        backdrop-filter: none !important;
    }
    .layout-desktop #itemDetailPage.noBackdropTransparency::after {
        display: none !important;
    }
}

/* Lower drawer buttons */
.layout-desktop .mainDrawer-scrollContainer {
    margin-top: 15px !important;
}

/* Shift content back to the left */
.layout-desktop .libraryPage:not(#editItemMetadataPage) {
    margin-left: 0px !important;
}
/* Fix for Jellyfin Media Player */
.quickConnectSettingsContainer {
    margin-left: 0px !important;
}

/* Add transition back */
.layout-desktop .touch-menu-la.transition {
    transition: transform .24s ease-out,left .26s ease-out,-webkit-transform .24s ease-out !important;
}

/* Show hamburger button */
.layout-desktop body:not(.hideMainDrawer) .mainDrawerButton:not(.dashboardDocument) {
    display: inline-flex !important;
}

/* Fix for dashboard */
.layout-desktop .dashboardDocument .mainDrawer {
    top: 0px !important;
    left: 0px !important;
    width: 300px !important;
    z-index: 998 !important;
}
.layout-desktop .dashboardDocument .mainDrawer-scrollContainer {
    padding-top: 75px !important;
}

/* Re-center header buttons */
.layout-desktop .headerTabs {
    margin-left: 0px !important;
}

/* Re-enable home button */
.layout-desktop body:not(.hideMainDrawer) .skinHeader:not(.noHomeButtonHeader) .headerHomeButton {
    display: block !important;
}
.layout-desktop body:not(.hideMainDrawer) .dashboardDocument .headerHomeButton {
    display: block !important;
}

/* Fix for scroll menus on home page */
.emby-scroller {
    margin-right: 3.3% !important;
}

/* Background for top left buttons */
.layout-desktop body:not(.hideMainDrawer) .headerLeft:not(.libraryDocument:has(.videoPlayerContainer) .headerLeft) {
    padding: 2px !important;
    top: -3px !important;
    background-color: var(--primary-background-transparent) !important;
    border-radius: 50px !important;
    backdrop-filter: blur(var(--blur)) !important;
}
/* Fix for JMP */
@supports not selector(:has(*)) {
    .layout-desktop body:not(.hideMainDrawer) .headerLeft {
        padding: 2px !important;
        top: -3px !important;
        background-color: var(--primary-background-transparent) !important;
        border-radius: 50px !important;
        backdrop-filter: blur(var(--blur)) !important;
    }
}
.headerLeft {
    flex-grow: 0 !important;
    -webkit-flex-grow: 0 !important;
}
.headerRight {
    position: absolute !important;
    right: 12px !important;
}

/* Music Player */
.layout-desktop .appfooter {
    margin-left: 0px !important;
}