/* Rounded buttons */
.navMenuOption,
.navMenuOption:hover,
.navMenuOption-selected {
    border-radius: 100px !important;
    width: 85% !important;
    margin: auto !important;

    /* Modify button height (optional)
    height: 45px !important;
    */
}

/* Center content vertically and shift to the left */
.navMenuOptionIcon,
.navMenuOptionText {
    position: inherit !important;
    left: -7% !important;
    margin-top: 0 !important;
}