/* Static left drawer */
.layout-desktop .mainDrawer {
    transform: none !important;
    left: 0 !important;
    top: 65px !important;
    width: 250px !important;
}

/* Shift content to the right */
.layout-desktop .libraryPage {
    margin-left: 225px !important;
}

/* Hide transition on page load */
.layout-desktop .touch-menu-la.transition {
    transition: none !important;
}

/* Hide hamburger button */
.layout-desktop .mainDrawerButton {
    display: none !important;
}

/* Fix for dashboard height */
.layout-desktop .dashboardDocument .mainDrawer {
    top: 0px !important;
}

/* Re-center header buttons */
.headerTabs {
    margin-left: 250px !important;
}
/* Fix for video player and login page */
.layout-desktop .hide-scroll .mainDrawer,
.hideMainDrawer .mainDrawer {
    left: -320px !important;
}