/* Static left drawer */

.layout-desktop .mainDrawer {
    transform: none !important;
    left: 0 !important;
    top: 65px !important;
    width: 250px !important;
}

.layout-desktop .libraryPage {
    margin-left: 225px !important;
}

.layout-desktop .touch-menu-la.transition {
    transition: none !important;
}

.layout-desktop .mainDrawerButton {
    display: none !important;
}

.layout-desktop .dashboardDocument .mainDrawer {
    top: 0px !important;
}