:root {
    --primary-r: 232;
    --primary-g: 236;
    --primary-b: 239;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: rgba(232, 236, 239, 0.2);
}

.layout-desktop .button-submit,
.layout-desktop .checkboxIcon,
.layout-desktop .countIndicator {
    color: var(--secondary-background-color) !important;
}