/* Transparent header bar */
.skinHeader {
    background-color: transparent !important;
}

/* Rounded header buttons */
.headerTabs,
.headerRight {
    background-color:rgba(35, 35, 35, 0.5) !important;
    border-radius: 50px !important;
    backdrop-filter: blur(50px) !important;
}

/* Lower header and add padding to right buttons */
.layout-desktop .headerRight {
    padding: 5px !important;
}

/* Header size */
.layout-desktop .headerTabs {
    height: 52px !important;
    top: 1px !important;
}
.layout-mobile .headerTabs {
    height: 45px !important;
}

/* Center text */
.emby-button-foreground {
    top: -6px !important;
}

/* Mobile fixes */
.layout-mobile .headroom--unpinned {
    transform: translateY(-50%);
}
.layout-mobile .sectionTabs {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
}
.layout-mobile .emby-button-foreground {
    top: -2px !important;
}

/* Fix for scaling issues */
@media (width: 1600px) {
    .layout-desktop .headerRight {
        margin-bottom: 0 !important;
    }
    .layout-desktop .headerTabs {
        top: -7px !important;
    }
}
@media (max-width: 1600px) {
    .layout-desktop .emby-button-foreground {
        top: -1px !important;
    }
}
@media (max-width: 1599px) {
    .layout-desktop .pageTitleWithLogo {
        margin-left: 25px !important;
    }
    .layout-desktop .headerTabs {
        margin-top: -65px !important;
    }
    .layout-desktop .headerRight {
        margin-right: 15px !important;
    }
    .layout-desktop .sectionTabs {
        width: auto !important;
        align-self: center !important;
    }
}
@media (max-width: 100em) {
    .withSectionTabs .headerTop {
        padding-bottom: 1em !important;
    }
}